html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  html.js .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

body {
  font-family: "LatoRregular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

header {
  padding: 35px 0; }

.logo {
  font-family: "CenturyGothicRegular", sans-serif;
  font-size: 35px;
  color: #666666; }

.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: right; }
  .nav li {
    display: inline-block;
    padding: 10px 0;
    margin-left: 35px;
    border-bottom: 5px solid transparent; }
    .nav li:hover {
      border-bottom: 5px solid #ffca26;
      transition: border-bottom 0.5s ease; }
    .nav li a {
      color: #333333;
      text-transform: uppercase;
      font-family: "LatoBold", sans-serif; }
      .nav li a:hover, .nav li a:focus {
        text-decoration: none; }

.jumbotron {
  background: url("../img/main.jpg") center center no-repeat;
  background-size: cover;
  height: 790px; }
  .jumbotron .main {
    position: relative;
    top: 260px;
    text-align: center; }
    .jumbotron .main h1 {
      font-family: "LatoBold", sans-serif;
      font-weight: bold;
      font-size: 40px;
      text-transform: uppercase;
      color: #ffcc33;
      margin: 0;
      padding: 0;
      margin-bottom: 40px; }
    .jumbotron .main p {
      font-family: "LatoRegular", sans-serif;
      font-size: 22px;
      color: #fff;
      margin-bottom: 135px; }
    .jumbotron .main a {
      font-size: 22px;
      text-transform: uppercase;
      color: #fff;
      padding: 25px 25px;
      background-color: rgba(0, 0, 0, 0.2); }
      .jumbotron .main a:hover, .jumbotron .main a:focus {
        text-decoration: none;
        border-bottom: 5px solid #ffcc33;
        background-color: rgba(0, 0, 0, 0.6);
        transition: background-color 0.5s ease; }

.blok {
  padding: 100px 20px 140px;
  background-color: #ffcc33;
  text-align: center; }
  .blok .logo {
    color: #fff;
    margin-bottom: 55px; }
  .blok p {
    font-size: 22px;
    color: #fff;
    max-width: 700px;
    margin: 0 auto; }

section {
  padding: 155px 0 25px; }
  section h2 {
    font-family: "LatoLight", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #333; }
    section h2 span {
      font-family: "LatoBold", sans-serif;
      color: #ffcc33; }
  section .small {
    font-family: "LatoItalic", sans-serif;
    font-size: 22px;
    text-align: center;
    margin: 0;
    color: #999;
    margin-bottom: 35px; }
  section .img {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    margin-bottom: 90px; }
    section .img:before, section .img:after {
      content: "";
      display: inline-block;
      width: 40%;
      height: 1px;
      background: #999;
      z-index: -1;
      position: relative;
      vertical-align: middle; }
    section .img:before {
      right: 20px;
      margin: 0 0 0 -100%; }
    section .img:after {
      left: 20px;
      margin: 0 -100% 0 0; }

.fokus .focus .focus-item {
  text-align: right;
  color: #999;
  padding: 10px;
  margin-bottom: 20px; }
  .fokus .focus .focus-item .icon_wrap {
    margin: 0 0 0 20px;
    width: 110px;
    height: 110px;
    background-color: #ffcc33;
    color: #fff;
    text-align: center;
    border-radius: 5px 50% 50% 50%;
    float: right; }
    .fokus .focus .focus-item .icon_wrap i {
      line-height: 110px;
      font-size: 60px; }
  .fokus .focus .focus-item h3 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px; }
  .fokus .focus .focus-item p {
    font-size: 16px;
    margin: 0; }
.fokus .focus .right .focus-item {
  text-align: left; }
  .fokus .focus .right .focus-item .icon_wrap {
    float: left;
    margin: 0 20px 0 0; }

.about .about_wrp {
  background-color: #f3f3f3; }
  .about .about_wrp .about_img {
    position: relative;
    height: 500px;
    background: url(../img/about.jpg); }
    .about .about_wrp .about_img ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      position: absolute;
      bottom: 0;
      left: 10%; }
      .about .about_wrp .about_img ul li {
        display: inline-block; }
        .about .about_wrp .about_img ul li a {
          display: block;
          font-size: 40px;
          background-color: #ffcc33;
          width: 65px;
          height: 65px;
          text-align: center;
          line-height: 65px;
          color: #fff; }
.about .about_text {
  font-size: 29px;
  font-family: "LatoLight", sans-serif;
  text-align: center;
  padding: 40px 20px; }
  .about .about_text span {
    text-transform: capitalize;
    font-family: "LatoRegular", sans-serif;
    font-size: 37px; }
.about .about_descr {
  padding: 60px; }
  .about .about_descr h3 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 40px;
    color: #333; }
  .about .about_descr p {
    color: #999;
    font-size: 14px;
    margin: 0;
    margin-bottom: 90px; }
  .about .about_descr h4 {
    margin: 0;
    color: #999;
    margin-bottom: 5px;
    font-family: "LatoLight", sans-serif; }
  .about .about_descr progress {
    width: 100%;
    background-color: #333;
    margin-bottom: 10px;
    border: none; }
    .about .about_descr progress::-webkit-progress-value {
      background: #ffcc33; }
    .about .about_descr progress::-moz-progress-bar {
      background: #ffcc33; }
.about .about_icons {
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  text-align: center; }
  .about .about_icons ul {
    list-style-type: none;
    margin: 0; }
    .about .about_icons ul li {
      display: inline-block;
      width: 20%;
      padding: 30px;
      border-left: 1px solid #d2d2d2; }
      .about .about_icons ul li:last-child {
        border-right: 1px solid #d2d2d2; }
      .about .about_icons ul li i {
        font-size: 70px;
        color: #ffcc33;
        margin-bottom: 20px; }
      .about .about_icons ul li .index {
        font-size: 26px;
        font-family: "LatoBold", sans-serif;
        margin: 0; }
      .about .about_icons ul li .descr {
        font-family: "LatoItalic", sans-serif;
        font-size: 16px;
        color: #999;
        margin: 0; }

.team .team_item .team_img_wrp {
  text-align: center;
  position: relative;
  height: auto;
  margin-bottom: 30px; }
  .team .team_item .team_img_wrp:hover p {
    display: block;
    transition: display 0.5s ease; }
  .team .team_item .team_img_wrp img {
    width: 100%;
    height: auto;
    padding-bottom: 15px; }
  .team .team_item .team_img_wrp p {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    margin: 0; }
.team .team_item h4 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  font-family: "LatoLight", sans-serif; }
.team .team_item p.descr {
  font-size: 14px;
  font-family: "LatoLight", sans-serif;
  text-align: center;
  color: #999;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px; }
.team .team_item ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center; }
  .team .team_item ul li {
    display: inline-block; }
    .team .team_item ul li a {
      display: block;
      width: 38px;
      height: 38px;
      text-align: center;
      background-color: #ffcc33;
      line-height: 38px;
      color: #fff;
      font-size: 24px; }
.team .team_wrapper {
  width: 100%;
  height: 650px;
  position: relative; }
  .team .team_wrapper > input {
    display: none; }
  .team .team_wrapper .controls {
    left: 50%;
    position: absolute;
    margin-left: -20px; }
  .team .team_wrapper label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #d2d2d2;
    border-radius: 50%; }
    .team .team_wrapper label:hover {
      background-color: #999; }
  .team .team_wrapper #slide1:checked ~ .controls label:nth-of-type(1),
  .team .team_wrapper #slide2:checked ~ .controls label:nth-of-type(2),
  .team .team_wrapper #slide3:checked ~ .controls label:nth-of-type(3) {
    background-color: #999; }
.team .slider {
  height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit; }
  .team .slider .slides {
    height: inherit;
    opacity: 0;
    position: absolute;
    width: inherit;
    z-index: 0;
    transform: scale(1.5);
    transition: all ease-in-out 0.5s; }
.team #slide1:checked ~ .slider > .slide1,
.team #slide2:checked ~ .slider > .slide2,
.team #slide3:checked ~ .slider > .slide3 {
  opacity: 1;
  z-index: 1;
  transform: scale(1); }

.feature .feature_wrp {
  padding: 100px 0 160px;
  background-color: #f3f3f3; }
  .feature .feature_wrp input {
    display: none; }
  .feature .feature_wrp label {
    display: block;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 0 #ccc;
    color: #333; }
    .feature .feature_wrp label i {
      float: left;
      font-size: 40px;
      margin-right: 20px;
      width: 40px; }
    .feature .feature_wrp label p.btn {
      text-transform: uppercase;
      font-size: 14px;
      padding: 0;
      margin: 0;
      font-family: "LatoBold", sans-serif; }
    .feature .feature_wrp label p.sub {
      padding: 0;
      margin: 0;
      font-family: "LatoItalic", sans-serif; }
  .feature .feature_wrp #feat1:checked ~ .controls label:nth-of-type(1),
  .feature .feature_wrp #feat2:checked ~ .controls label:nth-of-type(2),
  .feature .feature_wrp #feat3:checked ~ .controls label:nth-of-type(3),
  .feature .feature_wrp #feat4:checked ~ .controls label:nth-of-type(4),
  .feature .feature_wrp #feat5:checked ~ .controls label:nth-of-type(5) {
    background-color: #ffcc33;
    color: #fff;
    box-shadow: 0 5px 0 #996600; }
  .feature .feature_wrp #feat1:checked ~ .slider_wrp > .slide1,
  .feature .feature_wrp #feat2:checked ~ .slider_wrp > .slide2,
  .feature .feature_wrp #feat3:checked ~ .slider_wrp > .slide3,
  .feature .feature_wrp #feat4:checked ~ .slider_wrp > .slide4,
  .feature .feature_wrp #feat5:checked ~ .slider_wrp > .slide5 {
    opacity: 1;
    z-index: 1; }
  .feature .feature_wrp .slides {
    padding: 0 20px;
    margin-left: 40px;
    height: inherit;
    opacity: 0;
    position: absolute;
    width: inherit;
    z-index: 0;
    transition: opacity ease-in-out 0.5s; }
    .feature .feature_wrp .slides h4 {
      padding: 0;
      margin: 0;
      font-family: "LatoBold", sans-serif;
      font-size: 24px;
      color: #333;
      text-transform: uppercase;
      margin-bottom: 35px; }
    .feature .feature_wrp .slides p {
      font-size: 16px;
      color: #999;
      margin: 0;
      margin-bottom: 70px; }
    .feature .feature_wrp .slides img {
      width: 100%;
      height: auto; }

.process .process_wrp {
  background-color: #f3f3f3; }
  .process .process_wrp .line_wrp {
    position: relative; }
  .process .process_wrp .line {
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: #fff;
    left: 22%;
    z-index: 1; }
  .process .process_wrp .process_item_wrp {
    position: relative;
    padding: 60px 0;
    z-index: 10; }
    .process .process_wrp .process_item_wrp .process_item {
      padding: 30px 15%; }
      .process .process_wrp .process_item_wrp .process_item i {
        position: relative;
        width: 120px;
        height: 120px;
        background-color: #ffcc33;
        color: #fff;
        font-size: 55px;
        border-radius: 5px 50% 50% 50%;
        border: 5px solid #fff;
        float: left;
        margin-right: 30px;
        line-height: 110px;
        text-align: center; }
      .process .process_wrp .process_item_wrp .process_item h4 {
        font-size: 20px;
        font-family: "LatoBold", sans-serif;
        margin: 0;
        text-transform: uppercase;
        padding: 10px 0; }
      .process .process_wrp .process_item_wrp .process_item p {
        margin: 0;
        font-size: 14px;
        overflow: hidden; }

.pricing .pricing_wrp {
  text-align: center; }
.pricing .pricingtable {
  display: inline-block;
  background-color: #fff;
  box-sizing: content-box;
  width: 300px;
  height: 500px;
  border: 1px solid #333;
  border-radius: 5px;
  overflow: hidden; }
  .pricing .pricingtable:first-child {
    box-shadow: inset -20px 10px 25px -5px rgba(0, 0, 0, 0.5); }
  .pricing .pricingtable:last-child {
    box-shadow: inset 20px 10px 25px -5px rgba(0, 0, 0, 0.5); }
  .pricing .pricingtable.gold {
    border-color: #ffcc33;
    transform: scale(1.1, 1.1);
    width: 250px; }
    .pricing .pricingtable.gold .top {
      background-color: #ffcc33; }
    .pricing .pricingtable.gold .features hr {
      background-color: #ffcc33; }
    .pricing .pricingtable.gold .features a {
      background-color: #ffcc33; }
  .pricing .pricingtable .top {
    width: 100%;
    height: 90px;
    background-color: #333; }
    .pricing .pricingtable .top h3 {
      margin: 0;
      font-family: "LatoBold", sans-serif;
      font-size: 22px;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      line-height: 90px; }
  .pricing .pricingtable .features {
    text-align: center; }
    .pricing .pricingtable .features h4 {
      font-family: "LatoLight", sans-serif;
      font-size: 64px;
      color: #666;
      margin: 20px 0; }
      .pricing .pricingtable .features h4 sup {
        font-size: 40px; }
      .pricing .pricingtable .features h4 sub {
        font-size: 26px; }
    .pricing .pricingtable .features hr {
      background-color: #666;
      color: #666;
      border: none;
      height: 1px; }
    .pricing .pricingtable .features ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-bottom: 20px; }
      .pricing .pricingtable .features ul li {
        font-family: "LatoLight", sans-serif;
        padding: 5px; }
    .pricing .pricingtable .features a {
      margin: 0 auto;
      width: 80%;
      height: 50px;
      display: block;
      background-color: #333;
      line-height: 50px;
      text-align: center;
      border-radius: 5px;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      font-size: 11px; }
    .pricing .pricingtable .features p {
      text-transform: uppercase;
      color: #666;
      font-size: 11px; }

.blog .blog_wrp {
  padding: 120px 0;
  background-color: #f3f3f3; }
  .blog .blog_wrp .blog_item {
    border: 1px solid #e5e4e4;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px; }
    .blog .blog_wrp .blog_item .blog_text {
      padding: 20px;
      border-bottom: 1px solid #e5e4e4; }
      .blog .blog_wrp .blog_item .blog_text img {
        float: left;
        margin-right: 20px;
        width: 150px;
        height: auto; }
      .blog .blog_wrp .blog_item .blog_text span {
        font-size: 11px;
        color: #999; }
      .blog .blog_wrp .blog_item .blog_text h3 {
        margin: 0;
        padding: 0;
        font-family: "LatoBold", sans-serif;
        font-size: 16px;
        margin: 5px 0;
        line-height: 1.2em; }
      .blog .blog_wrp .blog_item .blog_text p {
        color: #999;
        overflow: hidden;
        margin: 0; }
    .blog .blog_wrp .blog_item .blog_bottom {
      padding: 10px 20px;
      position: relative; }
      .blog .blog_wrp .blog_item .blog_bottom .breadcrumbs {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 70%;
        white-space: nowrap;
        overflow: hidden; }
        .blog .blog_wrp .blog_item .blog_bottom .breadcrumbs li {
          display: inline-block; }
          .blog .blog_wrp .blog_item .blog_bottom .breadcrumbs li a {
            color: #ffcc33;
            font-size: 13px; }
        .blog .blog_wrp .blog_item .blog_bottom .breadcrumbs *:first-child:before {
          content: " ";
          margin: 0; }
        .blog .blog_wrp .blog_item .blog_bottom .breadcrumbs *:before {
          color: #e5e4e4;
          content: "/";
          position: relative;
          margin: 0 2px; }
      .blog .blog_wrp .blog_item .blog_bottom .blog_social {
        width: 65px;
        height: 25px;
        background-color: #f4f4f4;
        position: absolute;
        bottom: 8px;
        right: 20px;
        border-radius: 5px; }
        .blog .blog_wrp .blog_item .blog_bottom .blog_social i {
          line-height: 25px;
          font-size: 18px;
          color: #ff0707;
          margin-left: 5px; }
        .blog .blog_wrp .blog_item .blog_bottom .blog_social span {
          float: right;
          font-family: "LatoBold", sans-serif;
          line-height: 25px;
          margin-right: 10px;
          color: #666; }

footer {
  padding: 50px 0;
  background-color: #ffcc33;
  color: #fff; }
  footer p {
    font-size: 16px;
    font-family: "LatoBold", sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 30px; }
  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right; }
    footer ul li {
      display: inline-block; }
      footer ul li a {
        display: block;
        color: #fff;
        font-size: 25px;
        margin-left: 20px; }
        footer ul li a:hover {
          color: #333; }
