/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	header {
		text-align: center;
		padding: 15px 0;
	}
	header .nav {
		float: none;
	}
	.jumbotron {
		height: 600px;
	}
	.jumbotron .main {
		top: 180px;
	}
	.pricing .pricingtable {
		width: 30%;
		height: 350px;
	}
	.pricing .pricingtable .top {
		height: 50px;
	}
	.pricing .pricingtable .top h3 {
		line-height: 50px;
		font-size: 20px;
	}
	.pricing .pricingtable .features h4 {
		font-size: 48px;
		margin: 0;
	}
	.pricing .pricingtable .features h4 sup {
		font-size: 28px;
	}
	.pricing .pricingtable .features h4 sub {
		font-size: 20px;
	}
	.pricing .pricingtable .features hr {
		margin: 5px 0;
	}
	.pricing .pricingtable .features ul {
		margin-bottom: 10px;
	}
	.pricing .pricingtable .features ul li {
		font-size: 12px;
	}
	.pricing .pricingtable .features a {
		height: 40px;
		line-height: 40px;
	}
	.pricing .pricingtable.gold {
		width: 30%;
	}
}
	
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	section {
		padding: 60px 10px;
	}
	section h2 {
		font-size: 26px;
	}
	section .small{
		font-size: 18px;
	}
	section .img {
		margin-bottom: 15px;
	}
	.blok {
		padding: 40px 10px;
	}
	.about .about_wrp .about_img {
		height: 300px;
	}
	.about .about_wrp .about_text {
		font-size: 24px;
		padding: 20px 10px;
	}
	.about .about_wrp .about_text span{
		font-size: 32px;
	}
	.about .about_wrp .about_descr {
		text-align: center;
		padding: 20px 10px;
	}
	.about .about_icons ul li {
		width: 20%;
		padding: 10px;
	}
	.about .about_icons ul li i{
		font-size: 46px;
	}
	.about .about_icons ul li .index{
		font-size: 18px;
	}
	.about .about_icons ul li .descr{
		font-size: 14px;
	}
	.team .team_wrapper {
		height: 440px;
	}
	.team .team_item .team_img_wrp {
		margin-bottom: 10px;
	}
	.team .team_item .team_img_wrp p{
		padding: 10px;
		font-size: 12px;
	}
	.team .team_item h4 {
		font-size: 24px;
		line-height: 1em;
	}
	.team .team_item ul li a {
		font-size: 18px;
	}
	.feature .feature_wrp label p.sub {
		text-align: right;
	}
	.feature .slider_wrp {
		text-align: center;
		height: 480px;
	}

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.jumbotron {
		height: 400px;
	}
	.jumbotron .main {
		top: 60px;
	}
	.jumbotron .main h1 {
		font-size: 28px;
	}
	.jumbotron .main p {
		font-size: 18px;
		margin-bottom: 40px;
	}
	.jumbotron .main a {
		font-size: 18px;
	}
	.about .about_icons ul li i{
		font-size: 40px;
	}
	.about .about_icons ul li .index{
		font-size: 16px;
	}
	.about .about_icons ul li .descr{
		font-size: 12px;
	}
	.work #mixworks .mix .item_wrp {
		padding: 5%;
	}
	.work #mixworks .mix .item_wrp ul{
		margin-bottom: 5px;
	}
	.work #mixworks .mix .item_wrp h4{
		font-size: 10px;
		line-height: 1em;
	}
		.pricing .pricingtable {
		width: 30%;
		height: 350px;
	}
	.pricing .pricingtable .top {
		height: 50px;
	}
	.pricing .pricingtable .top h3 {
		line-height: 50px;
		font-size: 16px;
	}
	.pricing .pricingtable .features h4 {
		font-size: 36px;
		margin: 0;
	}
	.pricing .pricingtable .features h4 sup {
		font-size: 20px;
	}
	.pricing .pricingtable .features h4 sub {
		font-size: 16px;
	}
	.pricing .pricingtable .features hr {
		margin: 5px 0;
	}
	.pricing .pricingtable .features ul {
		margin-bottom: 5px;
	}
	.pricing .pricingtable .features ul li {
		font-size: 10px;
	}
	.pricing .pricingtable .features a {
		height: 30px;
		line-height: 30px;
	}
	.pricing .pricingtable.gold {
		width: 35%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.team .team_wrapper {
		height: 600px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
.team .team_wrapper {
		height: 740px;
	}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}